llama-index
python-dotenv
PyPDF2
docx
sentence-transformers
biopython
langchain
transformers
streamlit
google-api-python-client
langchain-community
llama-index-embeddings-huggingface
llama-index-llms-together
llama-index-indices-managed-vectara
